/* General Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background: #000000;
}
/* Navbar Styling */
.navbar {
   display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
    z-index: 1000;
     top: 0; 
     width: 100%; 
     padding: 10px 20px;
      background: rgb(0, 0, 0); 
      transition: background 0.3s ease-in-out; 
      -webkit-transition: background 0.3s ease-in-out; 
      -moz-transition: background 0.3s ease-in-out; -ms-transition: background 0.3s ease-in-out;
       -o-transition: background 0.3s ease-in-out;
}
.navbar.scrolled {
position: sticky;
top: 0%;
left: 0;
z-index: 1000px;
}
.logo a {
color: white;
font-size: 24px;
font-weight: bold;
text-decoration: none;
}
.nav-links {
list-style: none;
display: flex;
}
.nav-links li {
margin: 0 15px;
}
.nav-links a {
color: white;
text-decoration: none;
font-size: 22px;
}
.nav-links a:hover{
color: #fe8a06;
}
.actions {
display: flex;
align-items: center;
}
.actions input {
     padding: 5px;
      margin-right: 10px;
       display: flex;
        background-color: #f6ebe0;
     border-radius: 6px; border: none;
}
.actions button {
background: none;
border: none;
color: white;
font-size: 24px;
cursor: pointer;
margin: 6px;
margin-right: 8px; 
}
.menu-icon {
display: none;
font-size: 30px;
color: #fe8a06;
cursor: pointer;
margin: 5px;
}
/* end nav bar */
/* Content Styling */
.content {
padding-top: 80px;
}
.logo h2{
color: #fdf7f7;
}
.logo span{
color:#fe8a06;
}
.carousel-item{
background: #000000;
}   
/*start movies*/
.movies {
background-color: black;
}
.movies h1{
color: white;
margin: auto;
border-bottom: 2px solid white;
width: 180px;
text-align: center;
font-size: 38px;
margin-bottom: 50px;
}
.movies span{
color: #fe8a06;
}
.movies h1 i{
color: white;
 margin-left: 5px;
}
 .movies .carousel{
width: 80%;
/* text-align: center;
align-items: center; */
margin: auto;
/* padding: 30px; */
}
 .movies .main-title{
 color: white;
 margin: 40px auto;
 text-align: center;
}
.movies img{
width: 100%;
height: 97%;
}
.card .booking .price{
color: #fe8a06;
font-size: 30px;
}
 .card .booking{ 
     position: absolute;
      bottom: -100%;
       left: 0; 
       width: 100%; 
     backdrop-filter:blur(16px);
      background: #0000009c; transition: 0.5;
        display: none;
        text-align: center;
}
.card:hover .booking{
display: inline;
bottom: 0;
}
.booking p{
color: white;
font-weight: bold;
}
.booking p span{
color:#fe8a06;
}
.card .btn{
width: 100%;
border: #fe8a06;
background-color:black;
color: #fe8a06;
cursor: pointer;
transition:0.3s ;
-webkit-transition:0.3s ;
-moz-transition:0.3s ;
-ms-transition:0.3s ;
-o-transition:0.3s ;
}
.card .btn:hover{
    color: black;
    background-color:#fe8a06;
}
/*scroll*/
#ben{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fe8a06;
    color:black ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    display: none;
}
/*end movies*/
.comming-soon{
    padding: 20px;
    text-align: center;
}
.comming-soon h2{
    color: #f9fafa;
    text-align:left;
    margin: 20px;
}
.comming-soon h2 i{
  color: #fe8a06;
}
.cards{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 gap: 20px;
 padding: 20px;
 background-color: #000000;
}
.cards .card{
    text-align: center;
    background-color: #060707;
    border-radius: 10px;
    padding: 10px;
    transition: transform .3s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cards .card video{ width: auto; height: 100%; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
}
.cards .card video:hover{
 transform: scale(1.05);
 -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -ms-transform: scale(1.05);
 -o-transform: scale(1.05);
}
.cards .card h3{
 color: #d45704;
 font-size: 1.1rem;
 margin-top: 10px;
}
/*start about us*/
.about{
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    padding: 30px auto;
}
.about h1{
    color: white;
    margin: auto;
    border-bottom: 2px solid white;
    width: 180px;
    text-align: center;
}
.about h1 span{
    color:#fe8a06 ;
}
.about img{
    width: 100%;
    height: 90%;
}
.about .content{
    padding:15px ;
    width: 100%;
    height: 100%;
    text-align: center;
}
.about h2{
    font-size: 20px;
}
.about p{
    font-size: 18px;
}
/* .about button{
    margin-left:2px ;
    background-color: black;
    color: white;
    border: 2px solid #fe8a06;
    transition: 0.5;
    background-color:#fe8a06 ;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.about button:hover{
    color: white;
    background-color: black;
} */
/* .about .social{
 margin: 20px;  
} */

 .social i{
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
   
    border: 2px solid ;
}
 .social i:hover{
    background-color:  #b8b7b620;
}
/*end about us*/
/*start login*/
.glass_login {
    width: 50%;
    height: 80%;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    box-shadow: 5px 5px 12px #00000035;
    border-top: 2px solid #FFFFFF75;
    border-left: 2px solid #FFFFFF75;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .glass_login h1 , p , a{
    color: beige;
 } 
.glass_login h1 {
    padding: 20px;
    text-align: center;
 }
 .glass_login input {
    width: 100%;
    margin: 10px 0;
 }
 .glass_login label {
    color: beige;
    font-weight: bold;
 }
 .glass_login .text{
    background: transparent;
    border: none;
    outline: none;
    height : 40px;
    border-bottom: 1px solid beige;
    color :beige;

 }
 .glass_login .password {
     background: transparent;
    border: none;
    outline: none;
    height : 40px;
    border-bottom: 1px solid beige;
    color :beige;

 }
 .glass_login .submit {
    border: none;
    outline: none;
    color :beige;
    height : 40px;
    background: #d45704;
    border-radius: 15px;
    transition: 0.9s ease;
 }
 .glass_login .submit:hover {
    transform: scale(1.07);
    background: #fe8a06;
 }
 .glass_login p a:hover{
   color: #d45704 ;
 }

/*end login*/
/*see more*/
.see{
    text-align: center;
    margin: auto;
    padding: 30px 0;
}
.see-more{
    text-decoration: none;
    color: #fe8a06;
    font-size: 24px;
}
.see-more:hover{
    color: #d45704;
}
.actors{
    margin: auto;
    padding: 0 20px;
    text-align: center;
    gap: 5px;
}
.actors img{
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid transparent;
    height: 130px;
    width: 130px;
    transition: transform .3s ease,border-color .3 ease;
    -webkit-transition: transform .3s ease,border-color .3 ease;
    -moz-transition: transform .3s ease,border-color .3 ease;
    -ms-transition: transform .3s ease,border-color .3 ease;
    -o-transition: transform .3s ease,border-color .3 ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.actors img:hover{
    transform: scale(1.07);
    border-color: #d45704;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}
footer{
    background: #050505;
}
footer h2{
 margin: 10px 50px;   
 color: #f6ebe0;
}
footer h2 span{
 color: #d45704;
}
footer .all-links{
    display: flex;
    padding: 10px;
    margin: 30px;
}
footer .all-links .links {
    margin: 10px ;
    margin-left: 50px ;
    padding: 5px;
}
footer a {
 text-decoration: none;
 text-align: center;
 color: #f6ebe0;
}
footer b{
    color: #f6ebe0;
}
footer  a:hover {
color: #d45704;
}
/*start cinema*/
.container {
  margin: 0 10%;
  padding: 0 30px;
  margin-top: 10%;
  padding-top: 30px;
  display: flex;
  gap: 40px;
}
.container .card {
  border-radius: 8px;
  overflow: hidden;  
  text-align: center;
}
.container .card .apper_face {
  position: relative;
  background-color: #060707; 
  display: flex;
  z-index: 1;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top:  1px ;
  border-left:  1px ;
  border-right:  1px ;
  border-bottom: 0 ;
  border-style: solid;
  border-color: #d45704;
  /*transform: translateY(100px); */
}
.container .card .apper_face img {
  max-width: 100%; 
  margin-top: -70px;
  border: solid 1px #d45704;
}
/* .container .card:hover .apper_face {
 /* transform: translateY(0); 
} */
.container .card .apper_face .content i {
  max-width: 100px;
}
.container .card .heddin_face {
  position: relative;
  background-color: #060707; 
  color: #f6ebe0;
  border-top:  0px ;
  border-left:  1px ;
  border-right:  1px ;
  border-bottom: 1px;
  border-style: solid;
  border-color: #d45704;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  padding: 20px;
  /* box-sizing: border-box; */
  transform: translateY(-250px); 
}
.container .card .heddin_face p {
 color: white;
}
.container .card:hover .heddin_face {
  transform: translateY(0); 
  margin-top: -80px;
}
.heddin_face button {
  background-color: #d45704;
  border-radius: 5px;
  color: #fff;
  border :0;
  width:auto;
  height: 30px;
  padding: 5px;
  transition: transform .3s ease;
  margin:10px;
}
.heddin_face button:hover {
  transform: scale(1.08);
  background-color: #fb6d07;
}
.discount{
  text-align: center;
  font-size: 34px;
  margin: auto;
  color: #f6ebe0;
}
/* Contact Us */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
} */
section{
    padding: 2px;
    overflow: hidden;
}
section .header{
    text-align: center;
    padding-bottom: 60px;
    background-color: #000;
    text-align: center;
}
.header h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #f1f1f1;
}
.header h2::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 160px;
    height: 3px;
    background:#fe8a06; 
    margin: auto;
}
.header p{
    margin-bottom: 0;
    color: #f1f1f1;
}
.container{
    max-width: 1300px;
    /* box-shadow: 0px 2px 25px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    margin: auto;
    display: flex;
    transition: 0.4s all ease-in-out;
    /* -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:; */
}
.info_container{
    padding: 20px;
    max-width: 35%;
    width: 100%;
    background:rgb(0, 0, 0) ;
    border-radius: 10px 0 0 10px;
    color: #f1f1f1;
}
.info_container .info_item{
    padding: 20px;
    background: #0d0e0e;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #ece8e5;
}
.info_container .info_item:last-child{
    margin: 0;
}
.info_item .icon{
    float: left;
    clear: left;
    margin-right: 15px;
    height: 75px;
}
.info_item .icon i{
    font-size: 20px;
    color: #000000;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
}
.info_container .info_item:hover{
  border: 1px solid #d45704;
}
.info_item:hover i{
    background: #d45704;
}
.information h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.information p{
    font-size: 15px;
    line-height: 1.7;
    color:#ece8e5;
}
.input_container{
    max-width: 65%;
    width: 100%;
    padding: 30px;
    background-color: #000000;
    /* border: 3px solid #f1f1f1; */
    justify-content: center;
    align-items: center;
}
form .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

form{
  padding-top: 100px;
}
form .form_control{
    border: 1px solid #000;
    outline: none;
    font-size: 14px;
    padding: 12px 15px;
    color: #f1f1f1;
    width: 100%;
    margin-bottom: 25px;
    transition: 0.3s;
    line-height: 1.5;
    background-color: #0d0e0e;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#bot{
    width: 28%;
    border: none;
    height: auto;
    padding: 1%;
    margin-bottom: 4%;
    margin-left: -3%;
    background-color: #d45704;
    border-radius: 5px solid;
    -webkit-border-radius: 5px solid;
    -moz-border-radius: 5px solid;
    -ms-border-radius: 5px solid;
    -o-border-radius: 5px solid;
}
.form_control:focus{
    border: 1px solid #d45704 ;
    background: #1a1a1a;
}
textarea{
    resize: none;
    font-family: sans-serif;
}
.btn{
    width: 100%;
    text-align: center;
}
.btn button{
    background: #d45704;
    border: 0;
    padding: 16px 45px;
    /* color: #f1f1f1; */
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    /* transition: 0.4s; */
    background-color: #d45704;
    color: #fff;
    border :0;
    padding: 13px;
    transition: transform .3s ease;
    margin: 20px;
}
.btn button:hover{
    transform: scale(1.08);
    background-color: #fb6d07;
}
 
/*end cinema*/
/* Read this note before write any thing ====>>>>>>> */
/* important note : please write your css code before this part i want this part in the end of the code*/
/* Dark Mode */
body .dark-mode {
    background-color: #fefdfd;
   }
   body .dark-mode{
    background: #ffffffbd ;
   }
   body.dark-mode .navbar {
    background-color: #cac8c6;
   }
   body.dark-mode .nav-links {
     background-color: #cac8c6d7;
   }
   body.dark-mode .navbar .logo h2 {
   color: #000000;
   }
   body.dark-mode .nav-links a {
    color: #060707;
   }
   body.dark-mode .nav-links a:hover{
    color: #fe8a06;
   }
   body.dark-mode .actions input {
    background-color: #ffffff;
    border: 1px solid #060707;
    color: #050505;
   }
   body.dark-mode .carousel-item{
    background: #f6ebe0;
   }
   body.dark-mode .actions i{
   color: #000000;
   }
   body.dark-mode .container .card .heddin_face p {
    color: #000;
   }
   body.dark-mode .movies{
    background:  #faf9f8;
    color: #000000;
   }
   body.dark-mode h2{
    color: #000000;
   }
    body.dark-mode h1{
    color: #000000;
    /* border-bottom: 2px solid  black; */
   }
   body.dark-mode .information p{
    color: #000;
   }
   body.dark-mode .container .card .apper_face {
     background: #cac8c6;
   }
   body.dark-mode .glass_login .text, .glass_login .password{
    border-bottom: 1px solid black;
    color: #000000;
   }
   
   body.dark-mode .glass_login label {
     color: #000;
   }
  body.dark-mode .container .card .heddin_face {
  background: #cac8c6;
  color: #000000;
}
   body.dark-mode h1 i{
    color: black;
   }
   body.dark-mode{
    background:  #faf9f8;
    color: #000000;
   }
   body.dark-mode .glass_login .password   {
  color: black;
  border-bottom: 1px solid black;
 }
 body.dark-mode .glass_login .email  {
    color: black;
    border-bottom: 1px solid black;
}
   body.dark-mode .aaa{
    color: #000000;
   }
   body.dark-mode .aaa:hover{
    color: #d45704;
   }
   body.dark-mode .actors{
    background: #f9fafa;
   }
   body.dark-mode .about{
   background: #f9fafa;
   color: #000000;
   }
   body.dark-mode .glass_login h1 , p , a{
     color: #000;
 }
   body.dark-mode .main-title{
    color: #000;
   }
   body.dark-mode .comming-soon h2{
      color: #000000;
   }
   body.dark-mode .comming-soon {
    background: #f9fafa;
  }
   body.dark-mode .comming-soon .cards {
     background: #f9fafa;
   }
   body.dark-mode .comming-soon .cards .card {
    background: #cac8c6;
   }
   body.dark-mode .social{
     background: #f9fafa;
   }
  body.dark-mode .social i:hover{
    background-color:  #05050520;
   }
   body.dark-mode footer{
   background: #cac8c6;
   color: #000000;
   }
   body.dark-mode footer a{
    color: #000000;
   }
   body.dark-mode footer a:hover{
     color: #d45704;
   }
 body.dark-mode .container {
    color: #000000;
}
body.dark-mode form .input_container{
background: #fdf7f7;
}
 body.dark-mode form .form_control{
   background: #cac8c6;
   color: #000;
}
body.dark-mode .info_container .info_item{
 background: #cac8c6;
 color: #000000;
}
body.dark-mode .info_container{
background: #fdf7f7;
}
body.dark-mode .form_control:focus{
 border: 2px #d45704 solid;
 background: #ece8e5;
}
body.dark-mode .glass_login p 
{
    color: #000;
}
body.dark-mode .glass_login  a{
    color: #000;
}
body.dark-mode .glass_login  a:hover{
 color: #d45704;
}
body.dark-mode section .header{
background: #fdf7f7;
}
body.dark-mode .header p{
color: #000;
}
body.dark-mode .input_container{
background: #fdf7f7;
}
   .aaa{
    color: #fdf7f7;
    text-decoration: none;
   }
   .aaa:hover{
    color: #fb6d07;
   }
   body.dark-mode footer b{
   color: #000000;
   }
   /* Responsive Design */
   @media (max-width: 1100px) {
    .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(5, 5, 5, 0.855);
    width: 100%;
    margin-top: 20px;
    }
    .nav-links.show {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
    body.dark-mode .nav-links a {
     color: #000000;
    }
    .actions input {
        display: block;
    }
    footer .all-links{
      /* display: block; */
      text-align: center;
      }
      footer .all-links{
        display: block;
        text-align: center;
      }
}
@media (max-width: 993px) {
  .container {
    display: block;
   }
   .container .card:hover .heddin_face {
     margin-bottom: 40px;
   }

}


/* Contact Us */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

section{
    padding: 2px;
    overflow: hidden;
}

section .header{
    text-align: center;
    padding-bottom: 60px;
    background-color: #000;
    text-align: center;
}

.header h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #f1f1f1;
}

.header h2::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100px;
    height: 7px;
    background:#fe8a06; ;
    margin: auto;
}

.header p{
    margin-bottom: 0;
    color: #f1f1f1;


}

.container{
    max-width: 1300px;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin: auto;
    display: flex;
    transition: 0.4s all ease-in-out;
}

.info_container{
    padding: 20px;
    max-width: 35%;
    width: 100%;
    background:rgb(0, 0, 0) ;
    border-radius: 10px 0 0 10px;
    color: #f1f1f1;
    border: 3px solid #f1f1f1;

 
}

.info_container .info_item{
    padding: 20px;
    background:#fe8a06;;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.info_container .info_item:last-child{
    margin: 0;
}

.info_item .icon{
    float: left;
    clear: left;
    margin-right: 15px;
    height: 75px;
}

.icon i{
    font-size: 20px;
    color: #000000;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.info_item:hover i{
    background:#f1f1f1;
    color:rgb(218, 124, 0);
}

.information h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.information p{
    font-size: 15px;
    line-height: 1.7;
}

.input_container{
    max-width: 65%;
    width: 100%;
    padding: 30px;
    background-color: #000000;
    border: 3px solid #f1f1f1;

}

form .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

form .form_control{
    border: 1px solid #000;
    outline: none;
    font-size: 14px;
    padding: 12px 15px;
    color: rgb(217, 123, 0);;
    width: 100%;
    margin-bottom: 25px;
    transition: 0.3s;
    line-height: 1.5;
    background-color:#f1f1f1 ;
}

.form_control:focus{
    border-color: rgb(254, 203, 135);
}

textarea{
    resize: none;
    font-family: sans-serif;
}

.btn{
    width: 100%;
    text-align: center;
}

.btn button{
    background: #fe8a06;;
    border: 0;
    padding: 16px 45px;
    color: #f1f1f1;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    transition: 0.4s;
}

.btn button:hover{
    background:#f1f1f1 ;
    color: #000000;
}
@media screen and (max-width: 1400px) {
    .container{
        max-width: 1100px;
    }
    .information p{
        font-size: 13px;
    }
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 900px;
    }
}
@media screen and (max-width: 991px){
    .container{
        max-width: 768px;
        flex-direction: column;
    }
    .info_container, .input_container{
        max-width: 100%;
    }
    .info_container{
        border-radius: 10px 10px 0 0;
    }
    .input_container{
        padding-top: 50px;
    }
}
@media screen and (max-width: 768px){
    selection{
        padding: 50px 5px;
    }
    .container{
        max-width: 550px;
    }
    form .row{
        flex-direction: column;
        gap: 0;
    }
}

